@import '~bootstrap/scss/bootstrap';


// Header 
.top_header {
    background-color: rgb(0, 98, 255);
    color: white;
    font-size: 0.7rem;
    text-align: end;
    padding: 0.1rem;
}

.logo_dc {
    height: 70px;
}

.active_nav {
    color: rgb(0, 98, 255);
    border-bottom: 2px solid rgb(0, 98, 255);
}

.hero {
    height: 21.5rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


// Comics page
.label {
    color: white;
    background-color: rgb(0, 98, 255);
    padding: 0.7rem;
    margin-left: 12px;
    position: absolute;
    top: -22px;
    left: 0;
    transform: translate(0%, 50%);
}

.current_series_box {
    padding: 3rem 0;


    .comic_card {
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: $gray-900;
        border: none;

        .card_top {
            height: 180px;
            object-fit: cover;
            object-position: top;
        }

        .card_text {
            height: 4rem;
        }
    }
}

.call_foraction_banner {
    height: 150px;
    background-color: rgb(0, 98, 255);

    .call_foraction {
        height: 100%;

        >a {
            height: 100%;
            font-size: 0.9rem;
        }

        img {
            height: 40%;
        }

        svg {
            height: 30%;
        }
    }

}

//Footer